# introduction to jupyter note book

this is `python class`, and it is fun to **be here**

## introduction to jupyter note book


### introduction to jupyter note book

###### introduction to jupyter note book


1. kazeem
2. olaitan
3. musbau


- kazeem
- olaitan
- musbau

In [8]:
# writing my first python code by print my name
print("kazeem olaitan musbau")

kazeem olaitan musbau

# Variable and identifier
- Variable is an object occupying space on the computer memory
- identifier is used to identify variable


## Rules for naming variable/identifier
1. Variable name can not be join together with white space, use under score instead
2. Any especial character can not be included in variable name except under score
3. Number can not start name of variable, though it can be find else where
4. Variable should be descriptive

In [19]:
ola_age = 5

In [25]:
kemi_age = 55

In [27]:
print(ola)

5

In [29]:
print(kemi)

55

In [35]:
first_name = "kaaeem" # defining variable
print(first_name)  # calling the variable

kaaeem

In [43]:
name_ = "kazeem"

In [49]:
name_1 = "kazeem"
name_2 = "kazeem"
name_3 = "kazeem"
name_4 = "kazeem"

In [70]:
first_name = "kazeem"
last_name = "olaitan"
age = 12
location = "lagos"
print( "my name is ", first_name, last_name, "and i am ", age, "years old from", location)

my name is  kazeem olaitan and i am  12 years old from lagos

In [76]:
# input function: is use to accept entries from a user
first_name = input("please enter your first name ")
last_name =input('please enter your last name ')
age = input("how old are you ")
location = input("where are you from ")
print( "my name is ", first_name, last_name, "and i am ", age, "years old from", location)

please enter your first name  Taiwo
please enter your last name  kapi
how old are you  11
where are you from  PH

my name is  Taiwo kapi and i am  11 years old from PH